* {
  margin: 0;
  padding: 0;
  color: rgb(56, 41, 41);
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Berlin Sans", "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  text-align: center;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15%);
  }
  60% {
    transform: translateY(10%);
  }
}
